node_modules/
**/node_modules/
/node_modules/
android/
**/android/
/android/
ios/
**/ios/
/ios/
.expo/
dist/
web-build/
.env
.env*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
npm-debug.*
yarn-debug.*
yarn-error.*
